<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AApnaSadhan - Car Rental Services | Best taxi service in Indore</title>  
  <meta name="description" content="Welcome to ApnaSadhan, your premier destination for top-quality car rentals and taxi services tailored to meet your every need. Book your dream car and embark on the journey of a lifetime!">

   <link rel="shortcut icon" href="../../public/images/favicon_io/android-chrome-192x192.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Pacifico&family=Salsa&display=swap" rel="stylesheet">
  <style> 
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainadmin{
  width: 100%;
  height: fit-content;
  /* background-color: rgb(216, 0, 0);  */
} 
.mylogo{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal; 
  font-size: 5vh; 
  height: 10vh; 
  position: relative;
  width: 376px; 
  text-align: center; 
  color: #14213D; 
 display: flex;
 justify-content: center;
 align-items: center; 
}
#lapna{
  font-family: "Pacifico", cursive; 
  color: #14213D;  
} 
#lsadhan{
  font-family: "Pacifico", cursive; 
  color: #90170c;
} 
#sadhan{
  color:#90170c; 
  font-family: "Pacifico", cursive;
} 
.cari1{
  margin-right: -8px; 
  color: #90170c;
} 
.cari2{
  margin-top: 10px;
}
#heading{
  text-align: center; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  text-decoration: underline; 
  color:#14213D;
} 
.searchboxs{ 
  width: 100%;
  background-color: rgb(45, 123, 191); 
  height: 300px; 
} 
.searchbox1{
  background-color: #ffffff; 
  height: 150px; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-bottom: 1px solid #90170c; 
} 
.searchbox1 p , .searchbox2 p{
  font-size: 25px; 
  font-family: 'Salsa'; 
  color: rgb(70, 67, 67); 
  margin-top: 20px;
} 
.sinput{
  width: 250px; 
  height: 30px; 
  font-size: large; 
  border-radius: 4px; 
  border: none; 
  box-shadow: 2px 2px 10px black; 
} 
.sbutton{
  padding: 5px 10px;
  font-size: 18px; 
  color: white;
  background-image: linear-gradient(45deg ,rgb(41, 49, 81)  ,rgb(218, 75, 75), rgb(41, 49, 81) ,rgb(218, 75, 75)); 
  border-radius: 5px;
  margin-top: 10px; 
  margin-left: 20px;
} 
.searchbox2{ 
  height: 150px;
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  border-bottom: 1px solid #90170c; 
}  
.sDate{
  margin-left: 30px;
  font-size: 20px; 
  font-weight: 700; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#startDate , #endDate{ 
  margin-left: 10px;
  font-size: 20px; 
  font-weight: 700; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} 
.stabledata{
  /* background-color: #90170c;  */
  height: fit-content; 
  padding: 20px 20px; 
  text-align: center ;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
} 
.stabledata table thead tr th{
  font-size: 18px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  padding: 10px;  
} 

.stabledata table tbody tr td{
  font-size: 15px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  padding: 10px; 
  box-shadow: 0px 0.5px 2px black;
}  
#stable{
 border: 1px solid black; 
 border-radius: 10px; 
 box-shadow: 2px 2px 8px black;
} 

@media(max-width:700px){
.mylogo{
  font-size: 20px;
}  
#heading{
  font-size: 18px;
} 
#startDate , #endDate{ 
  margin-top: 10px;
} 
.searchboxs{
  height: 350px;
}
.sinput{
  font-size: 18px; 
  width: 200px; 
  height: 25px; 
  margin-bottom: 10px;
} 
.sbutton{
  padding: 2px 10px;
} 
.searchbox2{
  height: 200px;
}
.searchbox2 form{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center; 
}
.stabledata{
  /* background-color: #90170c;  */
  padding: 10px 10px;  
  border-radius: 5px;
} 
.stabledata table thead tr th{
  font-size: 5.9px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  padding: 0.5px;  
} 

.stabledata table tbody tr td{
  font-size: 5.9px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  padding: 0.5px; 
  box-shadow: 0px 0.5px 2px black;
}  
#stable{
 border: 1px solid black; 
 border-radius: 5px; 
 box-shadow: 2px 2px 8px black;
} 
}
  </style>
</head>
<body> 
  <div class="mainadmin"> 
    <div class="mylogo">
    
      Apna<span id="sadhan">Sadhan</span><ion-icon class="cari1" name="walk-outline"></ion-icon><ion-icon class="cari2" name="car-sport-outline"></ion-icon>
     </div> 
  <h1 id = "heading">Admin Page</h1> 
<a style="text-decoration:none; color:#14213D; margin:20px;" href="/feedback">feedback page</a>
  <div class="searchboxs">
 <div class="searchbox1">
  <form action="/admin/search" method="GET">
    <input type="text" class="sinput" id = 'q' name="q" placeholder="Search...">
    <button type="submit" class="sbutton">Search</button>
  </form> 
  <p>Search any detail you want....</p>
 </div>
  
  <!-- admin.hbs -->
<div class="searchbox2"> 
  <form action="/admin/searchs" method="GET">
    <label class="sDate" for="startDate">Start Date:</label>
    <input class="sinput" type="date" id="startDate" name="startDate" required>
    <label class="sDate" for="endDate">End Date:</label>
    <input class="sinput" type="date" id="endDate" name="endDate" required>
    <button class="sbutton" type="submit">Search</button>
  </form>  
  <p>Search simply by Date</p> 
</div>
</div>  
<div class="stabledata">
  <table id="stable">
    <thead>
      <tr>
          <th>Full Name</th> 
        <th>Phone No.</th>
       <th>Car Name</th> 
        <th>Pickup Location</th>
       <th>Package Type</th> 
       <th>Pickup Time</th> 
       <th>Pickup Date</th> 
       <th>Origin City</th> 
       <th>Email</th> 
        <th>Total Price</th> 
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
         <tr> 
           <td>{{this.fullname}}</td> 
          <td>{{this.phone}}</td>
          <td>{{this.carName}}</td> 
          <td>{{this.pickuploc}}</td>
          <td> {{this.packagetype}}</td> 
          <td>{{this.Pickuptime}}</td> 
          <td>{{this.Pickupdate}}</td> 
          <td>{{this.Ocity}}</td> 
          <td>{{this.email}}</td> 
          <td>{{this.tprice}}</td> 
        </tr>
      </tr>
      {{/each}}
    </tbody>
  </table>  
</div>
</div> 
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>
